# Required Packages

langchain-groq
langchain-classic
langchain-community
langchain-core
Wikipedia
Python >= 3.9

# Why each package is needed?

1. langchain-groq is for ChatGroq

2. langchain-classic is for ConversationBufferMemory, ConversationalChatAgent

3. langchain-community is for Wikipedia tools

4. langchain-core required internally (and for deprecation handling)

5. wikipedia is a backend library used by WikipediaAPIWrapper