# Required Packages

langchain-groq: 1.1.1
langchain-classic: 1.0.1
langchain-community: 0.4.1
langchain-core: 1.2.7
Python >= 3.9

# Why each package is needed?

- langchain-groq is for ChatGroq

- langchain-classic is for ConversationBufferMemory, ConversationalChatAgent

- langchain-community is for Wikipedia tools

- langchain-core required internally (and for deprecation handling)

- wikipedia is a backend library used by WikipediaAPIWrapper
